<ion-view ng-init="initToneFromRoute()" title="&quot;{{tone.name}}&quot; - {{tone.hertz}} Hz">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{tone.hertz}} Hz
      </div>
      <div class="item item-dark item-text-wrap">
        {{tone.description}}
      </div>
    </div>

    <ion-list>
      <ion-item class="item-dark item-icon-left" ng-click="toggleOnOff()">
        <i class="icon" ng-class="tone.config.on ? 'ion-pause' : 'ion-play'"></i>
        &nbsp;
      </ion-item>
      <ion-toggle class="toggle-calm item item-dark" ng-model="tone.config.binaural" ng-checked="tone.config.binaural" ng-change="updateAudio()" toggle-class="toggle-calm">Binaural</ion-toggle>
      <ion-item class="range item-dark range-calm">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume" min="0" max="1" step="0.01" ng-model="tone.config.volume" ng-change="updateAudio()">
        <i class="icon ion-volume-high"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
